
\.ipynb_checkpoints/

gurobi\.log

writeup_latex/Case\+--\+Scheduling\+Student\+Volunteers\+for\+the\+INFORMS\+Annual\+Meeting\.aux

writeup_latex/Case\+--\+Scheduling\+Student\+Volunteers\+for\+the\+INFORMS\+Annual\+Meeting\.log

writeup_latex/Case\+--\+Scheduling\+Student\+Volunteers\+for\+the\+INFORMS\+Annual\+Meeting\.out

writeup_latex/Case\+--\+Scheduling\+Student\+Volunteers\+for\+the\+INFORMS\+Annual\+Meeting\.synctex\.gz
